// Smaller screens and tablets
@media all and (max-width: 1400px) and (min-width: 500px) and (min-height: 550px) {
  .aboutSecond {
    height: auto;
  }

  .aboutThird {
    height: auto;
  }

  .aboutFourth {
    height: auto;
  }
}

// Touch screen devices
@media (pointer: coarse) {
  .portfolioSecond__main__item {
    &__txt__btn__a {
      display: none;
    }
    &__btn {
      display: block;
    }
  }

  .contactSecond__main__form__web {
    &__general {
      resize: none;
    }

    &__amount {
      display: flex;
      justify-content: space-between;
      align-items: center;
      grid-template-columns: none;

      &__value {
        display: none;
      }

      &__slider {
        display: none;
      }

      &__mobile {
        display: block;
      }
    }
  }
}

// Phones
@media all and (max-width: 499px), (max-height: 499px) {
  html {
    font-size: 6px;
  }

  // Main page
  .sectionFirst {
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 2fr 2fr 6fr;
    grid-template-areas:
      'lo me'
      '. me'
      'ce ce';
    background: $color-dark;

    &__menu {
      &__ul {
        flex-direction: column;
        align-items: flex-end;
      }
    }

    &__center {
      margin-top: 5vh;

      &__introduction {
        display: none;
      }

      &__explanation {
        font-size: 4rem;
        text-align: center;
      }

      &__btn {
        font-size: 2.6rem;
        &__a {
          padding: 2.5rem;
        }
      }
    }
  }

  .sectionSecond {
    grid-template-rows: none;
    height: auto;
    margin-bottom: 5rem;

    &__partA {
      &__descriptions {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__module {
          width: 90vw;
        }
      }
    }

    &__partB {
      display: none;
    }
  }

  .sectionThird {
    height: auto;

    &__process {
      display: flex;
      flex-direction: column;

      &__module {
        &:nth-child(1),
        &:nth-child(3) {
          background: $color-grey;
        }
        &:nth-child(2),
        &:nth-child(4) {
          background: $color-light;
        }
      }
    }
  }

  .sectionFourth {
    height: auto;
    margin: 5rem 0;

    &__choice {
      display: flex;
      flex-direction: column;

      &__program {
        grid-template-rows: none;
        margin-bottom: 3rem;
        width: 70vw;
        height: 50vh;
      }
    }
  }

  // About page

  .aboutFirst {
    grid-template-columns: none;
    justify-content: center;

    &__menu__ul {
      font-size: 1.8rem;
    }

    &__logo {
      display: none;
    }
  }

  .aboutSecond {
    height: auto;
  }

  .aboutThird {
    height: auto;
  }

  .aboutFourth {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  // Porfolio page
  .portfolioFirst {
    grid-template-columns: none;
    justify-content: center;

    &__menu__ul {
      font-size: 2rem;
    }

    &__logo {
      display: none;
    }
  }

  .portfolioSecond {
    &__main {
      display: flex;
      flex-direction: column;

      &__item {
        width: 70vw;
        height: 30vh;
      }
    }
  }

  // Contact page
  .contactFirst {
    grid-template-columns: none;
    justify-content: center;

    &__menu__ul {
      font-size: 2rem;
    }

    &__logo {
      display: none;
    }
  }

  .contactSecond {
    &__main__form {
      &__web {
        &__general {
          height: 50rem;
        }

        &__amount {
          display: flex;
          justify-content: flex-start;

          &__label {
            margin-right: 2rem;
          }
        }

        &__module {
          width: 100%;
          margin-bottom: 2rem;

          &__checkbox {
            width: 3rem;
            height: 3rem;
          }
        }
      }

      &__send {
        padding: 3rem;
      }
    }
  }

  @media (max-height: 499px) {
    .sectionFirst {
      display: grid;
      grid-template-columns: 3fr 7fr;
      grid-template-rows: 2fr 8fr;
      grid-template-areas:
        'lo me'
        'ce ce';
      background: $color-dark;

      &__menu {
        &__ul {
          flex-direction: row;
          justify-content: flex-end;
        }
      }

      &__center {
        margin-top: 20vh;

        &__introduction {
          display: none;
        }

        &__explanation {
          font-size: 4rem;
          text-align: center;
        }

        &__btn {
          font-size: 2.6rem;
          &__a {
            padding: 2.5rem;
          }
        }
      }
    }

    .sectionFourth__choice__program {
      width: 50vw;
      height: 90vh;
    }

    .aboutFirst {
      display: grid;
      grid-template-columns: 3fr 7fr;
      background: $color-dark;

      &__logo {
        display: block;
      }

      &__menu {
        &__ul {
          flex-direction: row;
          justify-content: flex-end;
          font-size: 2.4rem;
        }
      }
    }

    .portfolioFirst {
      display: grid;
      grid-template-columns: 3fr 7fr;
      background: $color-dark;

      &__logo {
        display: block;
      }

      &__menu {
        &__ul {
          flex-direction: row;
          justify-content: flex-end;
          font-size: 2.4rem;
        }
      }
    }

    .contactFirst {
      display: grid;
      grid-template-columns: 3fr 7fr;
      background: $color-dark;

      &__logo {
        display: block;
      }

      &__menu {
        &__ul {
          flex-direction: row;
          justify-content: flex-end;
          font-size: 2.4rem;
        }
      }
    }
  }
}

// ### Resolutions:

// #### TV / Screen / Laptop:

//      1.  7680x4320
@media all and (min-width: 6000px) {
  html {
    font-size: 40px;
  }
}

//      2.  3840x2160
@media all and (min-width: 2800px) and (max-width: 5999px) {
  html {
    font-size: 20px;
  }
}

//      3.  2560x1440
@media all and (min-width: 2000px) and (max-width: 2799px) {
  html {
    font-size: 14px;
  }
}

//      4.  1920x1080 -- native

//      5.  1600x900
//      6.  1536x864
//      7.  1440x900
@media all and (min-width: 1380px) and (max-width: 1650px) {
  html {
    font-size: 8px;
  }
}

//      8.  1366x768
//      9.  1280x1024
//      10. 1280x800
//      11. 1280xx720
@media all and (min-width: 1200px) and (max-width: 1379px) {
  html {
    font-size: 7px;
  }
  @media (min-height: 900px) {
    .sectionFourth__choice__program__up__ul__li {
      margin-bottom: 5rem;
    }
  }
}
//      12. 768x1024
@media all and (min-width: 650px) and (max-width: 800px) and (min-height: 850px) {
  html {
    font-size: 7px;
  }

  .portfolioSecond {
    &__main {
      display: flex;
      flex-direction: column;

      &__item {
        width: 70vw;
        height: 40vh;
      }
    }
  }
}

// #### Tablets:

//      1.  1366x1024  &   1024x1366
//      2.  1280x800   &   800x1280

//      3.  1112x834   &   834x1112
//      4.  1080x810   &   810x1080
//      5.  1024x768   &   768x1024
//      6.  1024x600   &   600x1024
//      7.  962x601    &   601x962
@media all and (min-width: 500px) and (max-width: 1199px) {
  html {
    font-size: 7px;
  }

  .portfolioSecond {
    &__main {
      display: flex;
      flex-direction: column;

      &__item {
        width: 70vw;
        height: 40vh;
      }
    }
  }

  @media (max-height: 700px), (max-width: 700px) {
    html {
      font-size: 6px;
    }

    @media (max-height: 700px) {
      .portfolioSecond {
        &__main {
          display: flex;
          flex-direction: column;

          &__item {
            width: 50vw;
            height: 50vh;
          }
        }
      }
    }
  }
}

// #### Phones:

//      1.  414x896    &    896x414
//      2.  414x736    &    736x414
//      3.  412x915    &    915x412
//      4.  412x892    &    892x412
//      5.  412x869    &    869x412
//      6.  412x846    &    846x412
//      7.  393x851    &    851x393
//      8.  375x812    &    812x375
//      9.  375x667    &    667x375
//      10. 360x800    &    800x360
//      11. 360x780    &    780x360
//      12. 360x760    &    760x360
//      13. 360x720    &    720x360
//      14. 360x640    &    640x360

//      15. 320x568    &    568x320
@media all and (max-width: 330px), (max-height: 330px) {
  html {
    font-size: 5px;
  }
}
